/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/RobotoCondensed-Light.eot');
	src: url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-Light.woff') format('woff'),
		url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Calligraph';
	src: url('../fonts/Calligraph.eot');
	src: url('../fonts/Calligraph.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Calligraph.woff') format('woff'),
		url('../fonts/Calligraph.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'fa-viber';
	src:url('../fonts/fa-viber.eot?-3dwksg');
	src:url('../fonts/fa-viber.eot?#iefix-3dwksg') format('embedded-opentype'),
		url('../fonts/fa-viber.ttf?-3dwksg') format('truetype'),
		url('../fonts/fa-viber.woff?-3dwksg') format('woff'),
		url('../fonts/fa-viber.svg?-3dwksg#fa-viber') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa-viber:before {
	font-family: 'fa-viber';
	content: "\e666";
}


html {
    color: #222; 
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


$brand-color : #00a0df;
$brand-color-second:#cccccc;
$page-paddings: 5rem;
$error-color: #a94442;



.container-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &.active-img{
        height: 0%;
        overflow: hidden;
    }
    &.next-active-img{
        height: 100%;
        width:0%;
        overflow: hidden;
    }
}

.padding-page{
    padding-top: $page-paddings;
}
.borders-left{
     border-left: solid 2px $brand-color-second;
}
.borders-right{
     border-right: solid 2px $brand-color-second;
}

.reverse{
        transform: rotateY(180deg)
}


.first-appear{
    opacity: 0;
}

.arrow-pulse{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid $brand-color;
}
.content{
    opacity: 0;
    min-height: 100%; 
    min-height: 100vh;
    align-items: center;

    .container-line{ 
       position: relative;
       width:100%;
       height: 100vh;;
    }
    .active-im{
        position:absolute;
        top:0;
        overflow: hidden;
        width:100%;
        height: 100%;
    }
    
.service-container{
    display: flex;
    width: 100%;
    padding: 5rem;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    .service-item{
        display: flex;
        flex-basis: 33%;
        justify-content: center;
        padding-bottom: 4rem;
        img{
            width: 250px;
            align-self: center;
        }
    }
}

}

.text-quotes{
    
    float: right;
    text-align: right;
    font-size: 3.5em;
    margin: 85px 66px 0 0;
    font-family: 'Calligraph';
}
.logo_container{
    max-width: 310px;
    color: #000;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;  
    img{width:100%;}
    h1{
        font-size: 5.5em;
        margin: 0.5em 0 0 0;
    }
    h4{
        font-size: 2em;
        margin: 0.5em 0 0 0;
    }
}


aside{
    padding: $page-paddings !important;
    color:$brand-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-24h{
    height:4rem;
    margin-bottom: 1em;
    }

    .phones{
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }
    .text-details{
        font-size: 2em;
        font-family: 'Roboto Condensed';
    }
    .social{
        margin: 1em 0;
        div{
            margin: 0.5em 0;
        }
        i{
            min-width: 40px;
        }
    }
}

.feedback-form{
    padding: $page-paddings !important;
    color: #00a0df;
    .main_form button {
        color:white;
        border: none;
        background-color: $brand-color;
        line-height: 40px;
        padding: 0 25px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 10px;
        float: right;
        letter-spacing: 2px; 
        }

.form-group {
   letter-spacing: 2px;
  display: block;
  margin-bottom: 20px; }
  .color_element {
    font-weight: 700;
    font-size: 18px; }
    .error{
        .text-danger{
            display: block;
        }
         input, textarea{
             outline: -webkit-focus-ring-color auto 5px;
             outline-color: $error-color;
             outline-offset: -2px;
         }
    }
   .text-danger {
    display: none;
    color:$error-color;   
    font-size: 11px;
    margin-top: 5px;}
     .text-danger ul,
     .text-danger li {
      margin: 0;
      padding: 0;
      list-style-type: none; }
  input,
  textarea {
    letter-spacing: 2px;  
    color:#222;
    display: block;
    width: 100%;
    border: 1px solid $brand-color-second;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 12px;
    background-color: transparent; 
    &:focus{
        outline-color: $brand-color
    }
    }
    .color_element{
    color:$error-color
}
}



.stamp{
    position: absolute;
    bottom: 15%;
    width: 100%;
    img{
        display: block;
        margin: auto;
        margin-right: 350px;
        width: 170px;
        -ms-transform: rotate(24deg); /* IE 9 */
        -ms-transform-origin: 20% 40%; /* IE 9 */
        -webkit-transform: rotate(24deg); /* Chrome, Safari, Opera */
        -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
        transform: rotate(24deg);
        transform-origin: 20% 40%;
    }
}



$step-size:				10px;
$step-margin: 			$step-size;
$step-border-radius:	$step-size / 2;

footer{
    width:100%;
    position:fixed;
    bottom: 12px;
}

.wizard-footer{
    display: flex;
    justify-content: center;
	padding: 0;	
	margin: 0;
	list-style-type: none;

	.wizard-step{
		float: left;
		width: $step-size;
		height: $step-size;
		border-radius: $step-border-radius;
		margin-right: $step-margin;

		&.visited{
			display: none;
		}
		&.inactive{
			background-color: $brand-color-second;
		}
	}

	.wizard-progress-bar {
        width:10px;
		float: left;
		height: $step-size;
		border-radius: $step-border-radius;
		margin-right: $step-margin;
		background-color: $brand-color;
		-webkit-transition: width 0.4s cubic-bezier(0,2,0,0);
		-moz-transition: width 0.4s cubic-bezier(0,2,0,0);
		-ms-transition: width 0.4s cubic-bezier(0,2,0,0);
		transition: width 0.4s cubic-bezier(0,2,0,0);
	}

	.wizard-step:last-child{
		margin-right: 0;
	}	
}





/* ==========================================================================
   JQUERY horizonScroll.js
   ========================================================================== */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

section {
  float: left;
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
}

.horizon-prev,
.horizon-next {
  cursor:pointer;  
  position: fixed;
  top: 50%;
  margin-top: -24px;
  z-index: 9999;
  img{
      height: 50px;
  }
}

.horizon-prev { left: 20px; }

.horizon-next { right: 20px; }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


// remove max-width from logo_container
.no-max_width{
    max-width: none;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.pulse {
  -webkit-animation: pulset 3s infinite;
  -moz-animation:    pulse 3s infinite;
  -o-animation:     pulse 3s infinite;
  animation:        pulse 3s infinite;
  
}

@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(1);
    opacity: 0.8;
 }
 
 100% {
    -moz-transform: scale(1.5);
    opacity: 0.0;
 }
}


@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(1);
    opacity: 0.8;
 }

 100% {
    -webkit-transform: scale(1.5);
    opacity: 0.0;
 }
}
